body {
  background-color: #f5f5f5;
}

.box {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 560px;
  padding: 20px 0;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px ;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  height: inherit;
}
h2 {
  text-align: center;
}
input {
  padding: 10px 10px;
  margin-top: 15px;
  font-size: 20px;
}
.btn {
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  margin: 15px;
  width: 150px;
  align-self: center;
  background: #ff7368;
  border-radius: 7px;
  cursor: pointer;
  border-bottom: 5px solid #ff3728;
}
.box-message {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1440px;
}
.validation {
  border-radius: 8px;
  text-align:center;
  margin-top: 10px;
  margin-left: 40px;
  width: 600px;
  height: 80px;
  background-color: lightblue;
}